@layer reset {
  * {
    margin: 0;
    padding: 0;
  }

  [role="list"] {
    list-style: none;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  body {
    min-height: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
  }
}

@layer base {
  :root {
    --clr-green-400: hsl(143, 19%, 49%);
    --clr-green-500: hsl(143, 38%, 37%);
    --clr-green-600: hsl(145, 29%, 19%);

    --clr-brown-500: hsl(10, 5%, 25%);
    --clr-brown-600: hsl(9, 7%, 21%);
    --clr-brown-700: hsl(10, 7%, 16%);
    --clr-brown-800: hsl(0, 6%, 15%);
    --clr-brown-900: hsl(0, 6%, 13%);

    --clr-burnt-orange-500: hsl(28, 43%, 37%);

    --clr-gray-100: hsl(0, 2%, 79%);
    --clr-white: hsl(0, 0%, 100%);

    --clr-brand-400: hsl(25, 88%, 75%);
    --clr-brand-500: hsl(25, 88%, 66%);

    --clr-red-500: hsl(359, 34%, 24%);
    --clr-teal-500: hsl(186, 42%, 25%);

    --ff-heading: "Outfit", sans-serif;
    --ff-body: "Fira Sans", sans-serif;

    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 2rem;
    --fs-900: 3.75rem;
    --fs-1000: 3.75rem;

    @media (width > 760px) {
      --fs-500: 1.25rem;
      --fs-600: 1.5rem;
      --fs-700: 2rem;
      --fs-800: 3rem;
      --fs-900: 5rem;
      --fs-1000: 7.5rem;
    }
  }

  :root {
    --color-background-extra-light: var(--clr-brown-500);
    --color-background-light: var(--clr-brown-600);
    --color-background-normal: var(--clr-brown-700);
    --color-background-dark: var(--clr-brown-800);
    --color-background-extra-dark: var(--clr-brown-900);

    --color-background-green-light: var(--clr-green-400);
    --color-background-green-normal: var(--clr-green-500);
    --color-background-green-dark: var(--clr-green-600);

    --color-tags-red: var(--clr-red-500);
    --color-tags-teal: var(--clr-teal-500);
    --color-tags-burnt-orange: var(--clr-burnt-orange-500);

    --color-text-white: var(--clr-white);
    --color-text-gray: var(--clr-gray-100);

    --color-text-brand-light: var(--clr-brand-400);
    --color-text-brand: var(--clr-brand-500);

    --font-size-heading-sm: var(--fs-700);
    --font-size-heading-regular: var(--fs-800);
    --font-size-heading-lg: var(--fs-900);
    --font-size-heading-xl: var(--fs-1000);

    --font-size-sm: var(--fs-300);
    --font-size-regular: var(--fs-400);
    --font-size-md: var(--fs-500);
    --font-size-lg: var(--fs-600);

    --border-radius-1: 0.25rem;
    --border-radius-2: 0.5rem;
    --border-radius-3: 0.75rem;
  }

  body {
    font-family: var(--ff-body);
    font-size: var(--font-size-lg);
    color: var(--color-text-gray);
    background-color: var(--color-background-normal);
  }

  h1,
  h2,
  h3 {
    font-family: var(--ff-heading);
    color: var(--color-text-white);
  }

  h1 {
    font-size: var(--font-size-heading-lg);
    line-height: 1.1;
  }

  a {
    color: inherit;
    text-decoration: none;
    /* font: inherit; */
  }

  a:hover,
  a:focus-visible {
    color: var(--color-text-brand);
  }

  section {
    padding-block: 8rem;
  }

  img {
    border-radius: var(--border-radius-3);
    object-fit: cover;
    object-position: center;
  }

  button {
    cursor: pointer;
  }
}

@layer layout {
  .wrapper {
    max-width: 70.625rem;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  .wrapper--narrow {
    max-width: 45rem;
  }

  .wrapper--wide {
    max-width: 83.125rem;
  }

  .section {
    padding-block: 3.75rem;

    @media (min-width: 760px) {
      padding-block: 8rem;
    }
  }

  .section--compact {
    @media (min-width: 760px) {
      padding-block: 4.5rem;
    }
  }

  .equal-cols {
    display: grid;
    align-items: var(--vertical-alignment, stretch);
    gap: var(--gap, 1.5rem);

    &[data-gap="wide"] {
      --gap: 3rem;
    }

    &[data-vertical-alignment="center"] {
      --vertical-alignment: center;
    }

    @media (width > 760px) {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }
  }

  .equal-cols[data-layout="responsive"] {
    display: flex;
    flex-wrap: wrap;
    > * {
      flex: 1 1 var(--min-col-size, 0);
    }
  }

  .grid-auto-fit {
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fit, minmax(min(270px, 100%), 1fr));
  }

  .full-height {
    height: 100%;
  }

  .flow > * + * {
    margin-block-start: 1em;
  }
}

@layer components {
  .primary-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 0.75rem;
    padding-block-start: 1rem;
    padding-block-end: 0.75rem;
    align-items: center;
  }

  .primary-header__button {
    background-color: transparent;
    border: 0;
    z-index: 11;

    img {
      border-radius: 0;
    }

    @media (width > 760px) {
      display: none;
    }
  }

  .navigation {
    font-size: var(--fs-400);
    font-weight: 500;
  }

  .navigation__list {
    display: flex;
    gap: 1rem;
  }

  @media (width < 760px) {
    .navigation {
      display: none;
      font-weight: bold;
      color: var(--color-text-white);
      font-size: var(--fs-700);
      background-color: var(--color-background-green-normal);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      border-bottom-left-radius: var(--border-radius-2);
      padding: 2rem;
    }

    .navigation__list {
      display: block;

      li:not(:first-child) {
        margin-block-start: 2rem;
        border-top: 2px solid var(--color-background-green-light);
        padding-top: 2rem;
      }
    }

    .primary-header__button[aria-expanded="true"] ~ .navigation {
      display: block;
    }
  }

  .hero {
    text-align: center;
    color: var(--color-text-white);
    background: url("./assets/hero.webp");
    background-size: cover;
    background-position: center;
  }

  .hero__title {
    margin-block-end: 2rem;
  }

  .hero__text {
    font-size: var(--font-size-md);
    display: grid;
    gap: 1rem;
  }

  .joys-section {
    ul {
      margin-block-start: 3rem;
    }
  }

  .reference-guide-section > :first-child {
    @media (760px < width < 1250px) {
      align-items: start;
    }
  }

  .nature-section > :first-child {
    @media (760px < width < 1024px) {
      align-items: start;
    }
  }

  .primary-footer {
    padding-block: 2rem;
    background-color: var(--color-background-dark);
    font-size: 1rem;
    display: grid;
    gap: 2rem;
    text-align: center;

    a:hover {
      color: var(--color-text-white);
    }
  }

  .primary-footer__title {
    font-family: var(--ff-heading);
    font-weight: bold;
    font-size: 1.25rem;
  }

  /* ------- GUIDE PAGE COMPONENTS ---------*/

  /* --------- GENERAL INDIVIDUAL COMPONENTS --------- */

  .card {
    --card-gap: 1rem;
    padding: 1rem;
    background-color: var(--color-background-light);
    border-radius: var(--border-radius-3);
    font-size: var(--font-size-regular);
    align-content: start;
    display: grid;
    gap: var(--card-gap, 1rem);

    img {
      border-radius: var(--border-radius-2);
    }
  }

  .card--small {
    --card-title-font-size: var(--fs-600);
    --card-gap: 0.75rem;
    display: flex;
    flex-direction: column;

    .card__important-note {
      margin-top: auto;
    }
  }

  .card__content {
    display: grid;
    gap: var(--card-content-gap, var(--card-gap));
    align-content: start;
  }

  .card__important-note {
    padding: 0.75rem;
    border-radius: var(--border-radius-2);
    background-color: var(--color-background-extra-light);
  }

  .card-container {
    container-type: inline-size;
  }

  @container (min-width: 32rem) {
    .card {
      grid-template-columns: 2fr 3fr;

      img {
        align-self: stretch;
      }

      .card__content {
        --card-content-gap: calc(var(--card-gap) / 2);
      }
    }
  }

  .card__title {
    font-weight: bold;
    color: var(--color-text-white);
    font-size: var(--card-title-font-size, var(--font-size-heading-sm));
  }

  .button,
  .tag,
  .select {
    color: var(--color-text-white);
    background-color: var(--color-background-green-normal);
    border-radius: 4px;
    display: inline-block;
    font-family: var(--ff-heading);
  }

  .select {
    padding: 8px 6px 8px 16px;
    border: 0;
    font-size: var(--font-size-md);
    font-weight: 300;
    cursor: pointer;
  }

  .select:focus-visible {
    outline: none;
  }

  .button {
    font-size: 1rem;
    padding: 8px 16px;

    font-weight: 600;

    &[data-button-size="large"] {
      font-size: 1.25rem;
      padding: 10px 20px;
    }

    &[data-disabled="true"] {
      background-color: var(--color-background-green-light);
    }
  }

  .button:hover {
    background-color: var(--color-background-green-light);
  }

  .tag {
    font-weight: 500;
    padding-inline: 6px;
    font-size: 0.875rem;

    &[data-edible="false"] {
      background-color: var(--color-tags-red);
    }
    &[data-season="spring"] {
      background-color: var(--color-tags-teal);
    }
    &[data-season="fall"] {
      background-color: var(--color-tags-burnt-orange);
    }
  }
}

@layer utils {
  .padding-block-sm {
    padding-block: 4.5rem;
  }
  .padding-block-lg {
    padding-block: 8rem;
  }

  .grid {
    display: grid;
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .text-white {
    color: var(--color-text-white);
  }
  .text-brand {
    color: var(--color-text-brand);
  }

  .text-center {
    text-align: center;
  }

  .bg-green-dark {
    background-color: var(--color-background-green-dark);
  }

  .bg-brown-dark {
    background-color: var(--color-background-extra-dark);
  }

  .font-size-heading-xl {
    font-size: var(--font-size-heading-xl);
  }
}
