@layer reset {
  * {
    margin: 0;
    padding: 0;
  }

  [role="list"] {
    list-style: none;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  body {
    min-height: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
  }
}

@layer base {
  :root {
    --clr-green-400: hsl(143, 19%, 49%);
    --clr-green-500: hsl(143, 38%, 37%);
    --clr-green-600: hsl(145, 29%, 19%);

    --clr-brown-500: hsl(10, 5%, 25%);
    --clr-brown-600: hsl(9, 7%, 21%);
    --clr-brown-700: hsl(10, 7%, 16%);
    --clr-brown-800: hsl(0, 6%, 15%);
    --clr-brown-900: hsl(0, 6%, 13%);

    --clr-burnt-orange-500: hsl(28, 43%, 37%);

    --clr-gray-100: hsl(0, 2%, 79%);
    --clr-white: hsl(0, 0%, 100%);

    --clr-brand-400: hsl(25, 88%, 75%);
    --clr-brand-500: hsl(25, 88%, 66%);

    --clr-red-500: hsl(359, 34%, 24%);
    --clr-teal-500: hsl(186, 42%, 25%);

    --ff-heading: "Outfit", sans-serif;
    --ff-body: "Fira Sans", sans-serif;

    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 2rem;
    --fs-900: 3.75rem;
    --fs-1000: 3.75rem;

    @media (width > 760px) {
      --fs-500: 1.25rem;
      --fs-600: 1.5rem;
      --fs-700: 2rem;
      --fs-800: 3rem;
      --fs-900: 5rem;
      --fs-1000: 7.5rem;
    }
  }

  :root {
    --color-background-extra-light: var(--clr-brown-500);
    --color-background-light: var(--clr-brown-600);
    --color-background-normal: var(--clr-brown-700);
    --color-background-dark: var(--clr-brown-800);
    --color-background-extra-dark: var(--clr-brown-900);

    --color-background-green-light: var(--clr-green-400);
    --color-background-green-normal: var(--clr-green-500);
    --color-background-green-dark: var(--clr-green-600);

    --color-tags-red: var(--clr-red-500);
    --color-tags-teal: var(--clr-teal-500);
    --color-tags-burnt-orange: var(--clr-burnt-orange-500);

    --color-text-white: var(--clr-white);
    --color-text-gray: var(--clr-gray-100);

    --color-text-brand-light: var(--clr-brand-400);
    --color-text-brand: var(--clr-brand-500);

    --font-size-heading-sm: var(--fs-700);
    --font-size-heading-regular: var(--fs-800);
    --font-size-heading-lg: var(--fs-900);
    --font-size-heading-xl: var(--fs-1000);

    --font-size-sm: var(--fs-300);
    --font-size-regular: var(--fs-400);
    --font-size-md: var(--fs-500);
    --font-size-lg: var(--fs-600);

    --border-radius-1: 0.25rem;
    --border-radius-2: 0.5rem;
    --border-radius-3: 0.75rem;
  }

  body {
    font-family: var(--ff-body);
    font-size: var(--font-size-lg);
    color: var(--color-text-gray);
    background-color: var(--color-background-normal);
  }

  h1,
  h2,
  h3 {
    font-family: var(--ff-heading);
    color: var(--color-text-white);
  }

  h1 {
    font-size: var(--font-size-heading-lg);
    line-height: 1.1;
  }

  a {
    color: inherit;
    text-decoration: none;
    /* font: inherit; */
  }

  a:hover,
  a:focus-visible {
    color: var(--color-text-white);
  }

  section {
    padding-block: 8rem;
  }

  img {
    border-radius: var(--border-radius-3);
  }
}

@layer layout {
  .wrapper {
    max-width: 70.625rem;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  .wrapper--narrow {
    max-width: 45rem;
  }

  .wrapper--wide {
    max-width: 83.125rem;
  }

  .section {
    padding-block: 3.75rem;

    @media (min-width: 760px) {
      padding-block: 8rem;
    }
  }

  .section--compact {
    @media (min-width: 760px) {
      padding-block: 4.5rem;
    }
  }

  .equal-cols {
    display: grid;
    align-items: var(--vertical-alignment, stretch);
    gap: var(--gap, 1.5rem);

    &[data-gap="wide"] {
      --gap: 3rem;
    }

    &[data-vertical-alignment="center"] {
      --vertical-alignment: center;
    }

    @media (width > 760px) {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }
  }

  /* ul.equal-cols{
    article:last-child{
      height: 100%;
    }
  } */

  .full-height {
    height: 100%;
  }

  .flow > * + * {
    margin-block-start: 1em;
  }
}

@layer components {
  .primary-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 0.75rem 0;
    align-items: center;
  }

  .navigation__list {
    display: flex;
    gap: 1rem;
    font-size: var(--font-size-regular);
    font-weight: 500;
  }

  .hero {
    text-align: center;
    color: var(--color-text-white);
    background: url("./assets/hero.webp");
  }

  .hero__title {
    margin-block-end: 2rem;
  }

  .hero__text {
    font-size: var(--font-size-md);
    display: grid;
    gap: 1rem;
  }

  .joys-section {
    ul {
      margin-block-start: 3rem;
    }
  }

  /* Individual Components */

  .card {
    padding: 1rem;
    background-color: var(--color-background-light);
    border-radius: var(--border-radius-3);
    font-size: var(--font-size-regular);
    align-content: start;
    display: grid;
    gap: var(--gap, 1rem);

    img {
      border-radius: var(--border-radius-2);
      object-fit: cover;
      object-position: center;
    }

    &[data-card-size="small"] {
      --card-title-font-size: var(--fs-600);
      align-content: space-between;
    }
  }

  .card__title {
    font-weight: bold;
    color: var(--color-text-white);
    font-size: var(--card-title-font-size, var(--font-size-heading-sm));
  }

  .button,
  .tag {
    color: var(--color-text-white);
    background-color: var(--color-background-green-normal);
    border-radius: 4px;
    display: inline-block;
    font-family: var(--ff-heading);
  }

  .button {
    font-size: 1rem;
    padding: 8px 16px;

    font-weight: 600;

    &[data-button-type="filter-button"] {
      font-weight: revert;
      padding: 8 6 8 16;
    }

    &[data-button-size="large"] {
      font-size: 1.25rem;
      padding: 10px 20px;
    }
    
    &[data-disabled="true"]{
      background-color: var(--color-background-green-light);
    }
  }

  .tag {
    font-weight: 500;
    padding-inline: 6px;
    font-size: 0.875rem;

    &[data-edible="false"] {
      background-color: var(--color-tags-red);
    }
    &[data-season="spring"] {
      background-color: var(--color-tags-teal);
    }
    &[data-season="fall"] {
      background-color: var(--color-tags-burnt-orange);
    }
  }
}

@layer utils {
  .padding-block-sm {
    padding-block: 4.5rem;
  }
  .padding-block-lg {
    padding-block: 8rem;
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .text-white {
    color: var(--color-text-white);
  }
  .text-brand {
    color: var(--color-text-brand);
  }

  .text-center {
    text-align: center;
  }

  .bg-green-dark {
    background-color: var(--color-background-green-dark);
  }

  .bg-brown-dark {
    background-color: var(--color-background-extra-dark);
  }

  .font-size-heading-xl {
    font-size: var(--font-size-heading-xl);
  }
}
